@page "/lejer/{LejId:int}"

@using Twilio;
@using Twilio.Rest.Api.V2010.Account;
@using Microsoft.Extensions.Configuration;

@inject NavigationManager NavigationManager;
@inject IViewLejerByIdUseCase ViewLejerByIdUseCase;
@inject IEditLejerUseCase EditLejerUseCase;

<div class="p-5">

    <div class="d-flex justify-content-center align-items-center m-3">
        <h1>@lejer.Navn</h1>
    </div>
    <br />
    <div class="container w-50 p-2">
        <div class="row text-center">
            <div class="col">
                <div class="mb-4">
                    <p>
                        Hvis du skal besøge @lejer.Navn, skal du blot klikke for at melde din ankomst.
                    </p>
                </div>

                <button class="btn btn-success p-3 w-75" @onclick="@(() => SendSms())">Klik for at melde din ankomst</button>
            </div>
            <div class="mt-3">
                <button type="button" class="btn btn-primary p-3 w-75" @onclick="Cancel">Annuller</button>
            </div>
        </div>

    </div>
    <div class="container w-25 p-2 border-2">
        <div class="row text-center mt-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p>@lejer.Navn</p>
                        <p>Telefon (ring): @lejer.Telefon</p>
                        <p>Telefon (sms): @lejer.SMSTelefon</p>
                        <p>Adresse: @lejer.Adresse</p>
                        <p>Lokale: @lejer.Lokale</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public int LejId { get; set; }

    private Lejer lejer = new Lejer();

    protected override async Task OnParametersSetAsync()
    {

        this.lejer = await ViewLejerByIdUseCase.ExecuteAsync(this.LejId);
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/reception");
    }

    private void AfterSmsSend()
    {

        NavigationManager.NavigateTo("/takogvent");
    }

    private void SendSms()
    {

        var configuration = new ConfigurationBuilder()
                .AddJsonFile("twilio.json")
                .Build();

        // Get the values from the configuration file
        string accountSid = configuration["Twilio:AccountSid"];
        string authToken = configuration["Twilio:AuthToken"];

        // Initialize the Twilio client
        TwilioClient.Init(accountSid, authToken);

        // Send the text message
        var message = MessageResource.Create(
            body: "Du har gæster, der venter i cafeen.",
            from: new Twilio.Types.PhoneNumber("+19852978015"),

            to: new Twilio.Types.PhoneNumber($"{lejer.Telefon}")
        );

        // Console.WriteLine(message.Sid);

        AfterSmsSend();

    }
}
