@inject NavigationManager NavigationManager

@if (Lejere != null && Lejere.Count > 0)
{
    foreach (var lejer in Lejere)
    {
        <tr>
            <td>@lejer.Navn</td>
            <td>@lejer.SMSTelefon</td>
            <td>@lejer.Telefon</td>
            <td>@lejer.Adresse</td>
            <td>@lejer.Lokale</td>
            <td>@lejer.Email</td>
            <td>
                <button type="button"
                class="btn btn-light"
                @onclick="@(() => EditLejer(lejer.LejerID))">
                    Rediger
                </button>
            </td>
        </tr>
    }
}

@code {
    // LejerListItemComponent
    // Bruges i LejerListComponent

    [Parameter]
    public List<Lejer> Lejere { get; set; } = new List<Lejer>();

    public void EditLejer(int lejerId)
    {
        NavigationManager.NavigateTo($"/editlejer/{lejerId}");
    }

}
